* {
  box-sizing: border-box;
}

body,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.container-xl,
.container,
.container-xs {
  margin: auto;
}

.container,
.container-xs {
  width: 90%;
}

.container-xl {
  max-width: 1800px;
}

.container {
  max-width: $site-width;
}

.container-xs {
  max-width: 850px;
}

.container .container-xs {
  width: 100%;
}

.show {
  display: block;
  animation: fadeIn 750ms;
}

.hide {
  // important to override all other specifity
  display: none !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
