* {
  box-sizing: border-box;
}

body,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.container-xl,
.container,
.container-xs {
  margin: auto;
}

.container,
.container-xs {
  width: 90%;
}

.container-xl {
  max-width: 1800px;
}

.container {
  max-width: $site-width;
}

.container-xs {
  max-width: 900px;
}

.container .container-xs {
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}
