html {
  font-size: 10px;
}

body {
  color: $c-gray;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

body,
button {
  font-family: $ff-secondary;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.img-wrapper,
.button {
  a {
    text-decoration: none;
  }
}

h1,
h2,
h3 {
  padding: 0 0 2rem 0;
}

h5,
h5,
h6 {
  padding: 0 0 1rem 0;
}

h1,
h2 {
  color: $c-black;
  font-family: $ff-primary;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

p {
  padding: 0 0 1rem 0;
}

a:not(.button):not(.content-link) {
  color: $c-primary-bright;
  text-underline-offset: 2px;

  &:hover,
  &:focus-visible {
    background: $c-primary-xlight;
    color: $c-primary;
  }

  &:focus-visible {
    outline-offset: 3px;
    padding: 1.5rem;
  }
}

a.content-link {
  color: inherit;
  text-decoration: none;
}

input[type='radio'] {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 5px solid $c-black;
  box-sizing: border-box;
  color: currentColor;
  display: block;
  display: flex;
  flex: none;
  font: inherit;
  height: 1.8rem;
  justify-content: center;
  margin-right: 1.3rem;
  position: relative;
  width: 1.8rem;
}

input[type='radio']::before {
  content: '';
  height: 1.8rem;
  position: relative;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  width: 1.8rem;
  top: 0;
  left: 0;
}

input[type='radio']:checked::before {
  background: $c-black;
  transform: scale(1);
}

ul,
ol {
  list-style-position: inside;
}

.rich-text {
  h2,
  h3,
  h4,
  h5 {
    padding-top: 1.5rem;
  }

  p {
    line-height: 1.3;
    padding: 1rem 0;
  }

  p img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
