.products {
  min-height: 100vh;
  padding: 2.5rem 0;
  background: $c-gray-xlight;

  @media only screen and (min-width: 768px) {
    padding: 7rem 0;
  }

  .container-xs {
    padding-bottom: 5rem;
    text-align: center;

    .heading {
      font-size: 3rem;

      @media only screen and (min-width: 768px) {
        font-size: 6rem;
      }
    }

    .legend {
      text-align: right;
    }
  }

  fieldset {
    background-color: $c-white;
    border: 3px solid $c-black;
    padding: 4rem 2.5rem 2.5rem;
    text-align: left;

    @media only screen and (min-width: 768px) {
      margin-top: 2.5rem;
    }

    .button {
      background: $c-primary;
      color: $c-white;

      &:hover,
      &:focus-visible {
        background: $c-primary-xlight;
        color: $c-primary;
      }
    }
  }
}

.label {
  align-items: baseline;
  display: flex;
  font-weight: 500;
  line-height: 1.4;
  margin: 2rem 0;
}

.subheading {
  font-size: 2rem;
  font-weight: 300;
}

.products:not(.dark-mode) {
  .label {
    color: $c-black;
  }
}
